body{
    font-family: "Noto Sans KR", serif;
    overflow-x: hidden;
    background: #ecebf0;
}

#wrap{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

:root{
    --color1-: #008385;
    --color2-: #03a2a4;
    --color3-: #666;
}

section{
    width: 100%;
}

.section_inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slick-list{
    height: 100%;
}

.slick-track{
    height: 100%;
}

/* tab_to_move */

.tab_to_move a{
    position: absolute;
    left: 0;
    top: -200px;
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
}

.tab_to_move a:active,
.tab_to_move a:focus{
    top: 0px;
    outline: 1px solid #000;
    border: 1px solid #fff;
}

/* header */

#header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.header{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
}

.header::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color2-);
}

.mega_menu_deco{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100%);
    box-sizing: border-box;
    padding: 0 calc((100% - 1400px) / 2);
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: all .4s ease;
    z-index: -1;
    visibility: hidden;
}

.nav_active .mega_menu_deco{
    opacity: 1;
    visibility: visible;
}

.mega_menu_deco .mega_menu_tit_deco{
    width: 270px;
    height: 100%;
    background: #f3f3f3;
}

.mega_menu_tit_deco ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.mega_menu_tit_deco ul li{
    width: 100%;
    display: none;
}

.mega_menu_tit_deco ul li.active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header_top{
    width: 100%;
    background: #56575f;
}

.ht_inner{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.certi_tit span{
    display: block;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    padding-left: 54px;
    line-height: 25px;
    background: url('../img/eg_ico.png') left center no-repeat;
    background-size: 50px auto;
    letter-spacing: -0.5px;
}

.ht_right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ht_util{
    margin-right: 30px;
}

.ht_util ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px;
}

.ht_util ul li a{
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    background-repeat: no-repeat !important;
    letter-spacing: -0.5px;
}

.ht_util ul li:nth-child(1) a{
    background: url('../img/h_rbtn_icon_1.png');
    background-size: 12px auto;
    background-position: left bottom 3px;
}

.ht_util ul li:nth-child(2) a{
    background: url('../img/h_rbtn_icon_2.png');
    background-size: 14px auto;
    background-position: left bottom 1px;
}

.ht_util ul li:nth-child(3) a{
    background: url('../img/h_rbtn_icon_3.png');
    background-size: 15px auto;
    background-position: left bottom 1px;
}

.ht_util ul li:nth-child(4) a{
    background: url('../img/h_rbtn_icon_4.jpg');
    background-size: 17px auto;
    background-position: left bottom 1px;
}

.ht_sns ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;
}

.ht_sns ul li a{
    display: block;
}

.ht_sns ul li a img{
    width: 32px;
}

.header_bot{
    position: relative;
    width: 100%;
    z-index: 20;
    overflow: hidden;
}

.header_bot::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 87px;
    width: 100%;
    height: 3px;
    z-index: 3;
    background: var(--color1-);
}
/* 
.header::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: var(--color2-);
    z-index: 3;
} */


.header_bot_box{
    position: relative;
    height: 90px;
    overflow: hidden;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 2px solid var(--color2-);
    z-index: 2;
}

.hb_inner{
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 300px;
    background: #fff;
}

.hb_left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-right: 20px;
}

.logo a{
    display: inline-block;
}

.logo a img{
    width: auto;;
    height: 45px;
}

.new_kr a{
    display: inline-block;
}

.new_kr a img{
    width: auto;
    height: 45px;
}

#main_nav{
    height: 100%;
}

#main_nav .mn_floor1{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#main_nav .mn_floor1 > li{
    height: 100%;
}

#main_nav .mn_floor1 > li > a{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 0 18px;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -1.3px;
    overflow: hidden;
    color: #000;
}

#main_nav .mn_floor1 > li.active > a,
#main_nav .mn_floor1 > li:hover > a{
    color: #22389a;
}

#main_nav .mn_floor1 > li.active > a::after,
#main_nav .mn_floor1 > li:hover > a::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 8.5px 14.722px 8.5px;
    border-color: transparent transparent var(--color1-) transparent;
}

.mega_menu{
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    overflow: hidden;
    display: none;
}

.nav_active .mega_menu{
    display: block;
}

.mega_menu_inner{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 35px;
}

.mega_menu_tit{
    width: 270px;
    box-sizing: border-box;
    padding: 35px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px 0;
    min-height: 220px;
}

.mega_menu_tit strong,
.mega_menu_tit p{
    display: block;
    text-align: center;
}

.mega_menu_tit strong{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.5px;
}

.mega_menu_tit p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.4;
}

.mega_menu_list{
    width: calc(100% - 270px);
    box-sizing: border-box;
    padding: 22px 0 40px 0;
}

.mn_floor2{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.mn_floor2 > li{
    width: 230px;
    margin-left: 50px;
    height: max-content;
}

.mn_floor2 > li:nth-child(-n+4){
    margin-bottom: 35px;
}

.mn_floor1 > li:nth-child(2) .mn_floor2 > li:nth-child(5){
    margin-top: -120px;
}

.mn_floor1 > li:nth-child(3) .mn_floor2 > li:nth-child(n+5){
    margin-top: -170px;
}

.mn_floor1 > li:nth-child(4) .mn_floor2{
    justify-content: space-between;
}

.mn_floor1 > li:nth-child(4) .mn_floor2 > li:nth-child(5){
    margin-top: -40px;
}

.mn_floor1 > li:nth-child(4) .mn_floor2 > li:nth-child(6){
    margin-top: -90px;
}   

.mn_floor1 > li:nth-child(5) .mn_floor2 > li:nth-child(8){
    margin-top: -220px;
}   

.mnf2_tit{
    width: 100%;
}

.mnf2_tit a{
    display: block;
    padding: 6px 0 11px 0;
    border-bottom: 2px solid #000;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1px;
    min-height: 43px;
    box-sizing: border-box;
}

.mn_floor3{
    width: 100%;
}

.mn_floor3 > li{
    border-bottom: 1px solid #d1d1d1;
}

.mn_floor3 > li > a{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 11px 13px 12px 13px;
    font-size: 16px;
    color: #606060;
    font-weight: 500;
    letter-spacing: -1px;
    box-sizing: border-box;
    transition: all .1s ease;
    line-height: 1.2;
}

.mn_floor3 > li > a:hover{
    color: #fff;
    background: var(--color2-);
}

.outer_link > a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.outer_link > a::after{
    display: block;
    content: url('../img/bul_blank.png');
    position: static;
    margin-left: 7px;
    margin-top: 2px;
}

.outer_link:not(.mnf2_tit) > a:hover::after{
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.main_nav_close_btn{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
    z-index: 20;
}

.nav_active .main_nav_close_btn{
    visibility: visible;
    opacity: 1;
}

.main_nav_close_btn button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 55px;
    border-radius: 999px;
    background: #fff;
    border: 3px solid var(--color2-);
}

.main_nav_close_btn button span{
    display: inline-block;
    padding-left: 20px;
    background: url('../img/gnb_close.png') left center no-repeat;
    font-size: 16px;
    font-family: 'Noto Sans KR', serif;
    color: #000;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.hb_right{
    position: absolute;
    right: calc((100% - 1400px) / 2);
    top: 21px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
}

.main_search{
    position: relative;
    border-radius: 999px;
    overflow: hidden;
}

.main_search form{
    height: 100%;
}

.main_search label{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main_search input[type="search"]{
    width: 220px;
    height: 45px;
    border-radius: 999px;
    box-sizing: border-box;
    border: 2px solid #297fe0;
    background: #fff;
    padding: 0 50px 0 30px;
    font-size: 16px;
    letter-spacing: -1px;
}

.main_search input[type="search"]:focus{
    border-color: #4358c0;
    outline: none;
}

.main_search button{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: url('../img/srch_ico.png') center no-repeat;
}

.all_menu_open{
    margin-left: 10px;
}

.all_menu_open a{
    display: block;
    width: 48px;
    height: 48px;
    background: url('../img/util_sitemap_button.png') center center no-repeat;
}

/* all_menu */

.all_menu{
    display: none;
}

/* content start */

#content_box{
    width: 100%;
    padding-top: 180px;
}

/* wildfire_banner */

#wildfire_banner{
    padding-bottom: 25px;
}

.wildfire_banner ul{
    width: 100%;
}

.wildfire_banner ul li{
    display: none;
}

.wildfire_banner ul li.active{
    display: block;
}

.wildfire_banner ul li a{
    display: block;
}

/* main_notice */

#main_notice{
    margin-bottom: 25px;
}

.main_notice{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 570px;
} 

.main_grid_left{
    width: 1030px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.main_box{
    border-radius: 15px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 100%;
    overflow: hidden;
}

.main_information.main_box{
    overflow: visible;
}

.main_box > div{
    height: 100%;
}

.main_notice_box{
    height: 275px;
}

.main_notice_box.type1{
    width: 730px;
}

.main_notice_slide_box{
    width: 100%;
    height: 100%;
    position: relative;
}

.main_notice_slide{
    width: 100%;
    height: 100%;
}

.main_notice_slide .slick-list{
    height: 100%;
}

.main_notice_slide .slick-track{
    height: 100%;
}

.main_notice_slide .slick-slide a{
    display: block;
    width: 100%;
    height: 100%;
}

.main_notice_slide .slick-slide a img{
    width: 100%;
    height: 100%;
}

.main_notice_slide_control{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    background: #fff;
    box-sizing: border-box;
    border-radius: 999px;
    padding: 5px 15px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;
    border: 1px solid #ccc;
}

.main_notice_slide_control button{
    width: 20px;
    height: 20px;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.mns_prev{
    background: url('../img/control_prev.png');
}

.mns_next{
    background: url('../img/control_next.png');
}

.mns_btn.pause{
    background: url('../img/control_stop.png');
}

.mns_btn.play{
    background: url('../img/control_play.png');
}

.main_notice_tab{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
}

.main_tab_list{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 2;
}

.mtb_floor1{
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    width: 100%;
    border-bottom: 2px solid #aaa;
}

.mt_btn{
    position: relative;
    font-size: 21px;
    color: var(--color3-);
    letter-spacing: -1px;
    padding: 0 13px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transition: all .1s ease;
}

.mt_btn.link::after{
    display: block;
    content: url('../img/bul_blank.png');
    position: static;
    margin-left: 5px;
}

.mtb_floor1 > li.active .mt_btn.link::after,
.mt_btn.link:hover::after{
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.mtb_floor1.type1 > li > .mt_btn{
    min-width: 90px;
}

.mtb_floor1 > li:hover > .mt_btn,
.mtb_floor1 > li.active > .mt_btn{
    font-weight: 700;
    background: var(--color1-);
    color: #fff;
}

.main_tab_cont{
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
    display: none;
}

.mtb_floor1 > li.active .main_tab_cont{
    display: block;
}

.mtb_floor2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
}

.mtb_floor2 li{
    width: 100%;
}

.mtb_floor2 li a{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3px 0 3px 14px;
}


.mtb_floor2 li a::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background: #888888;
}

.mtb_floor2 li a strong{
    display: inline-block;
    font-size: 18px;
    max-width: calc(100% - 90px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    letter-spacing: -1px;
    box-sizing: border-box;
    transition: all .2s ease;
    border-bottom: 1px solid transparent;
    line-height: 1.2;
}

.mtb_floor2 li a:hover strong{
    color: #de2b2b;
    border-color: #de2b2b;
}

.mtb_floor2 li a span{
    display: block;
    width: 90px;
    font-size: 15px;
    text-align: right;
    color: #5d5e63;
    letter-spacing: -0.8px;
    font-weight: 500;
}


.view_more{
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 2;
}

.main_tab_menu.type2 .view_more{
    top: -46px;
}

.view_more a{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
}

.view_more a::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: url('../img/icon_bd_plus.png') center no-repeat;
    transition: all .2s ease;
}

.view_more a:hover::after{
    transform: translate(-50%, -50%) rotate(90deg);
}

.main_box.min1{
    width: 270px;
    height: 275px;
}

.main_notice_tab.type2{
    padding: 15px 20px;
}

.main_notice_tab.type2 .mt_btn{
    min-width: auto;
}

.mtc2_tit a{
    display: block;
}

.mtc2_tit a strong{
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
    color: #001f79;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -1px;
    border-bottom: 1px solid #001f79;
    transition: all .2s ease;
}

.mtc2_tit a:hover strong{
    color: #de2b2b;
    border-color: #de2b2b;
}

.mtc2_desc{
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
}

.mtc2_txt{
    font-size: 17px;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 13px 0;
    letter-spacing: -0.8px;
}

.dwp{
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    box-sizing: border-box;
    padding-left: 20px;
    background: url('../img/themecast_list_td_date.png') left center no-repeat;
    font-weight: 500;
    color: var(--color1-);
    letter-spacing: -1px;
}


.main_notice_sc{
    position: relative;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.main_notice_top{
    width: 100%;
    box-sizing: border-box;
    padding-right: 45px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main_notice_top.type2{
    padding-right: 0;
}

.main_notice_top h2{
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -1px;
}

.main_side_slide_control{
    display: flex;
    border-radius: 999px;
    background: #dfdfe7;
    overflow: hidden;
}

.mss_btn{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.mss_prev{
    background: url('../img/rb_control_prev.png');
}

.mss_next{
    background: url('../img/rb_control_next.png');
}

.mss_onOff{
    border-radius: 50%;
    background: #fff;
}

.mss_onOff.pause{
    background: url('../img/rb_control_play.png');
}

.mss_onOff.play{
    background: url('../img/rb_control_stop.png');
}

.main_notice_cont > a{
    display: block;
}

.mnc_img{
    overflow: hidden;
    height: 120px;
}

.mnc_img img{
    position: relative;
    transform-origin: center;
    display: block;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease;
}

.main_notice_cont a:hover .mnc_img img{
    transform: scale(1.1);
}

.mtc2_txt.type2{
    -webkit-line-clamp: 1;
}

.view_more.type2{
    right: 20px;
    top: 12.5px;
}

.main_grid_right.type1{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.mnss_img{
    width: 100%;
    height: 186px;
    overflow: hidden;
}

.mnss_img.type2{
    height: 170px;
}

.mnss_img img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main_notice_sc.type2{
    padding: 0 20px;
}

.mnss_desc{
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    background-position: left center !important;
    background-repeat: no-repeat !important;
    background-size: 25px !important;
    margin-top: 5px;
}

.mnss_desc.fb{
    background: url('../img/ics_f.png');
}

.mnss_desc span{
    display: block;
    max-width: 100%;
    line-height: 25px;
    color: #555;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -1px;
}

.main_grid_left.type2{
    flex-direction: row;
}

/* favorite_service */

#middle_area{
    margin-bottom: 25px;
}

.favorite_service{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
}

.fvsv_tit{
    width: 300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.fvsv_tit h2{
    display: block;
    text-align: left;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 17px;
}

.fvsv_tit h2 span{
    font-weight: 500;
}

.fvsv_tit p{
    font-size: 17px;
    color: #444;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 11px;
    letter-spacing: -0.7px;
}

.fvsv_tit a{
    display: inline-block;
    text-align: right;
    width: 110px;
    line-height: 45px;
    color: #000;
    background: #fff url('../img/fs_setting_icon.png') no-repeat;
    background-position: left 20px center;
    padding: 0 25px 0 50px;
    border-radius: 999px;
    border: 1px solid #cbcbcd;
    font-size: 17px;
    box-sizing: border-box;
}

.fvsv_slide_box{
    position: relative;
    width: calc(100% - 300px);
    height: 160px;
    box-sizing: border-box;
    padding: 0 45px;
}

.fvsv_slide{
    width: 100%;
    height: 100%;
}

.fvsv_slide .slick-slide a{
    display: block;
    width: 100%;
    height: 100%;
}

.fvsv_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    background: #fff;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    transition: all .2s ease;
}

.fvsv_slide .slick-slide a:hover .fvsv_img{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.fvsv_txt{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.fvsv_txt p{
    font-size: 17px;
    color: #444;
    letter-spacing: -0.5px;
}

.fvsv_slide .slick-slide a:hover .fvsv_txt p{
    text-decoration: underline;
}

.fvsv_slide_control{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.fvsv_btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    pointer-events: all;
}

.fvsv_prev{
    background: url('../img/fs_btn_prev.png') center no-repeat;
}

.fvsv_next{
    background: url('../img/fs_btn_next.png') center no-repeat;
}

.minister{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 25px;
    background: url('../img/open_bg.png') center no-repeat;
    background-size: cover;
}

.minister h2{
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -1px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.minister ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    gap: 15px 0;
}

.minister ul li{
    width: 100%;
}

.minister ul li a{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 30px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 999px;
    padding: 0 20px;
    font-size: 17px;
    color: #fff;
    transition: all .2s ease;
    font-weight: 500;
    letter-spacing: -1px;
}

.minister ul li a:hover{
    color: #00512b;
    background: #fff;
}

/*main_information */

#main_information{
    margin-bottom: 30px;
}

.main_box.type_mi_wide{
    width: 765px;
    height: 188px;
}

.main_info_box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_info_box.left{
    padding: 20px 25px;
}

.reserve{
    background: url('../img/bld_1_bg.png') no-repeat;
    background-position: center bottom;
}

.petition{
    background: url('../img/mincon.png') no-repeat;
    background-position: right bottom;
}

.mibb1{
    background: url('../img/bld_2_bg.png') no-repeat;
    background-position: right bottom;
}

.mibb2{
    background: url('../img/bld_3_bg.png') no-repeat;
    background-position: right bottom;
}

.mibb3{
    background: url('../img/btmcard_bld_4_bg.png') no-repeat;
    background-position: right bottom;
}

.mibb4{
    background: url('../img/btmcard_bld_2_bg_mt.png') no-repeat;
    background-position: right bottom;
}

.mib_list_box{
    width: 100%;
    box-sizing: border-box;
}

.mib_list_box.type2{
    width: calc(45%);
}

.mib_tit{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.25;
    padding-bottom: 14px;
    height: max-content;
    color: #000;
}

.mib_tit span{
    font-weight: 400;
    display: inline;
}

.mib_list_box ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
}

.mib_list_box.type2 ul{
    padding-left: 10px;
    height: 105px;
}

.mib_list_box.min ul{
    height: 80px;
    padding-right: 25px;
}

.mib_list_box ul li{
    position: relative;
    width: max-content;
    gap: 15px 0;
    height: 26.25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.mib_list_box.min ul li{
    height: 26.25px;
}

.mib_list_box ul li::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 3px;
    height: 3px;
    background: #00000088;
}

.mib_list_box ul li a{
    position: relative;
    font-size: 15px;
    letter-spacing: -1px;
    color: #555;
    font-weight: 500;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 10px;
}

.mib_list_box ul li.outer_link a::after{
    display: block;
    content: url('../img/bul_blank.png');
    position: static;
}

.mib_list_box ul li a:hover{
    color: #000;
}

.mib_list_box ul li.outer_link a:hover::after{
    filter: brightness(1) invert(0);
    -webkit-filter: brightness(1) invert(0);
}

.main_box.type_mi_min{
    width: 250px;
    height: 188px;
}

.main_box.type_mi_link .main_info_box{
    align-content: flex-start;
}

.main_information .main_grid_left.type2{
    gap: 20px 0;
}

.main_box.type_mi_link{
    transition: all .2s ease;
}

.main_box.type_mi_link a{
    display: block;
    height: 100%;
    border-radius: 15px;
}

.main_box.type_mi_link:hover{
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
}

.main_box.type_mi_link:hover .mib_tit{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.mib_desc{
    font-size: 15px;
    color: #555;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: -0.8px;
}

.main_box.type_right1{
    height: 188px;
}

.main_box.type_right1 .main_info_box{
    padding: 10px 15px;
    flex-direction: column;
}

.main_info_box.foreign{
    background: #3075b6;
}

.main_info_right_top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.main_info_right_top h2{
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 700;
}

.foreign .main_info_right_top h2{
    color: #fff;
}

.mirt_more{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mirt_more a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #555;
    padding-right: 30px;
    font-weight: 500;
    letter-spacing: -1px;
}

.mirt_more a span{
    display: inline-block;
}

.mirt_more a::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    width: 23px;
    height: 10px;
    background: url('../img/intro_img13_copy.png') left center no-repeat;
    background-size: 100%;
}

.mirt_more a:hover::after{
    animation: mirtMove 1s linear infinite;
}

.wfli_top .mirt_more a{
    font-size: 16px;
}

@keyframes mirtMove{
    0%{
        transform: translateX(5px);
    }

    50%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(5px);
    }
}

.main_info_right_bot{
    width: 100%;
    flex: 1;
}

.policy_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.policy_list li{
    width: calc(50% - 1px);
    height: 100%;
}

.policy_list li a{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #fff;
}

.pl_img{
    width: max-content;
    margin: 0 auto;
    padding-bottom: 6px;
}

.policy_list li a strong{
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #bc396d;
    line-height: 1.15;
}

.policy_list li a strong span{
    color: #000;
}

.policy_list li a:hover strong{
    text-decoration: underline;
    text-decoration-color: #000;
}

.bugs .main_info_right_top h2 span{
    color: #da3c31;
}

.bugs_alert_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 0;
    padding: 10px 0;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    box-sizing: border-box;
}

.bugs_alert_list li{
    width: 47%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alert_step{
    padding-left: 45px;
    height: 100%;
    display: flex;
    align-items: center;
}

.bugs_alert_list li:nth-child(1) .alert_step{
    background: url('../img/m_ico01.png') left center no-repeat;
}

.bugs_alert_list li:nth-child(2) .alert_step{
    background: url('../img/m_ico02.png') left center no-repeat;
}


.bugs_alert_list li:nth-child(3) .alert_step{
    background: url('../img/m_ico03.png') left center no-repeat;
}


.bugs_alert_list li:nth-child(4) .alert_step{
    background: url('../img/m_ico04.png') left center no-repeat;
}

.alert_step span{
    font-size: 17px;
    letter-spacing: -1px;
}

.alert_number{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.alert_number strong{
    display: inline-block;
    color: #dc3f03;
    font-weight: 700;
    font-size: 23px;
}

.alert_number span{
    font-size: 17px;
    display: inline-block;
    margin-left: 2px;
}

.bugs_link{
    display: flex;
    gap: 0 20px;
}

.bugs_link li{
    position: relative;
}

.bugs_link li::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background: #555;
}

.bugs_link li a{
    font-size: 15px;
    letter-spacing: -1px;
    color: #555;
    font-weight: 600;
    padding-left: 10px;
}

.bugs_link li a:hover{
    color: #000;
    text-decoration: underline;
}

/* main_wildfire_info */

#main_wildfire_info{
    margin-bottom: 50px;
}

.wildfire_alert{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wildfire_info{
    width: 685px;
}


.wildfire_info h2{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #ef4040;
    padding-bottom: 20px;
}

.wildfire_info h2 span{
    color: #000;
}

.wfi_table{
    width: 100%;
}

.wfi_table table{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d5d5db;
    border-top: 2px solid #00c386;
}

.wfi_table table th,
.wfi_table table td{
    box-sizing: border-box;
    padding: 8px;
    border-right: 1px solid #d5d5db;
    vertical-align: middle;
}

.wfi_table table th:nth-child(3n),
.wfi_table table td:nth-child(3n){
    border-right: 0px;
}

.wfi_table table th:first-child{
    width: 25%;
}

.wfi_table table th:last-child{
    width: 60%;
}

.wfi_table table th{
    background: #f2f5f8;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #d5d5db;
    letter-spacing: -1px;
    height: 40px;
}

.wfi_table table td{
    text-align: center;
    height: 130px;
}

.wildfire_visual{
    width: calc(100% - 685px);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0 0 60px;
    align-items: flex-start;
}

.wildfire_visual img{
    width: 100%;
    height: auto;
}

.wildfire_liveInfo{
    width: 100%;
    height: 100%;
}

.wfli_top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #bababd;
}

.wfli_top h2{
    color: #333;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 24px;
}

.wfli_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 35px 0;
}

.wfli_list li{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 15px;
    box-sizing: border-box;
}

.wfli_step{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 45px;
    height: 35px;
    margin-right: 7px;
    font-size: 17px;
}

.wfli_list li:first-child .wfli_step{
    background: url('../img/intro_img08.png') left center no-repeat;
}

.wfli_list li:last-child .wfli_step{
    background: url('../img/intro_img09.png') left center no-repeat;
}

.wfli_link{
    width: 100%;
}

.wfli_link li{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #bababd;
}

.wfli_link li:first-child{
    margin-bottom: 15px;
    background: url('../img/intro_img11.png') right bottom no-repeat;
}

.wfli_link li:last-child{
    background: url('../img/intro_img12.png') right bottom no-repeat;
}


.wfli_link li a{
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 500;
    color: #333;
}

.wfli_link li a:hover{
    color: #000;
    text-decoration: underline;
}

/* main_bot_ad */

#main_bot_ad{
    padding: 20px 0;
    background: #f8f8f9;
}

.national_symbol{
    width: 145px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.main_bot_slide_box{
    position: relative;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 40px;
}

.main_bot_slide{
    width: 1160px;
    overflow: hidden;
}

.main_bot_slide .slick-list{
    margin: 0 -20px;
}

.main_bot_slide .slick-slide{
    margin: 0 20px;
}

.main_bot_slide .slick-slide a{
    display: block;
    overflow: hidden;
    height: 37px;
}

.main_bot_slide .slick-slide a img{
    width: 100%;
    height: 100%;
}

.mbs_control{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mbs_control button{
    pointer-events: all;
}

.mbs_link{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
}

.mbs_link a{
    position: relative;
    display: block;
    width: 14px;
    height: 25px;
    overflow: hidden;
}

.mbs_link a img{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    max-width: 9999px;
    height: 22px;
}

/* footer */

#footer{
    width: 100%;
}

.footer{
    width: 100%;
}

.footer_top{
    padding: 35px 0;
    background: #fff;
}

.ft_inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ft_list{
    margin-bottom: 25px;
}

.ft_list ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ft_list ul li{
    position: relative;
    padding: 0 11px;
}

.ft_list ul li::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background: #9e9ea1;
}

.ft_list ul li:last-child::after{
    display: none;
}

.ft_list ul li:first-child{
    padding-left: 0px;
}

.ft_list ul li a{
    font-size: 16px;
    color: #555555;
    display: inline-block;
    font-weight: 500;
    letter-spacing: -1px;
}

.ft_list ul li a:hover{
    color: #000;
}

.ft_list ul li.bold a{
    font-size: 18px;
    color: #000099;
    font-weight: 600;
    text-decoration: underline;
}

.ft_list ul li.bold a:hover{
    color: #000099;
}

.ft_address ul{
    width: 100%;
}

.ft_address ul li{
    width: 100%;
}

.ft_address ul li address{
    line-height: 1.4;
    font-size: 15px;
    letter-spacing: -1px;
    color: #555;
    font-weight: 500;
}

.ft_address ul li address span{
    color: #000099;
}

.footer_bot{
    position: relative;
    width: 100%;
    padding: 17px 0;
    background: #3e3f4c;
    z-index: 10;
}

.fb_link_list{
    width: 100%;
}

.fb_link_list > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 13px;
}

.fb_link_list > ul > li > a{
    display: flex;
    padding: 13px 20px 13px 45px;
    width: max-content;
    border-radius: 999px;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #fff;
}

.fb_link_list > ul > li:nth-child(2){
    flex: 1;
}

.fb_link_list > ul > li:nth-child(2) > a{
    background: url('../img/f_utill_icon_2.png') left 20px center no-repeat;
}

.fb_link_list > ul > li:not(:nth-child(2)) > a{
    background: url('../img/f_utill_icon_1.png') left 20px center no-repeat;
}

.fb_megamenu{
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.fb_mega_container{
    position: relative;
    width: 100%;
    border-top: 3px solid #637be3;
    padding: 45px 0;
    background: rgba(225, 225, 240, 0.97);
    box-sizing: border-box;
    margin-top: 25px;
}

.active .fb_mega_container{
    height: 100%;
}

.fb_mega_box{
    width: 100%;
}

.fb_mega_box h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: -1px;
    color: #2d1eba;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border-bottom: 2px solid #afafb6;
}

.fb_mega_box h2 span{
    color: #000;
}

.fb_mega_list{
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
}

.fb_mega_list ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px 0;
}

.fb_mega_list ul li{
    width: 20%;
}

.fb_mega_list ul li a{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 13px 20px;
    background: #fff;
    width: 93%;
    height: 100%;
    margin: 0 auto;
    color: #555;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    border: 1px solid #cfcdcd;
    transition: all .1s ease;
}

.fb_mega_list ul li a:hover{
    color: #fff;
    background: #4C51BB;
}

.fbm_close{
    position: absolute;
    left: 50%;
    top: -27.5px;
    transform: translateX(-50%);
}

.fbm_close button{
    height: 55px;
    border-radius: 999px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px 0 45px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    border: 3px solid #637be3;
    background: #fff url('../img/util_item_target_close.png') left 25px center no-repeat;
}

.copyright{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    box-sizing: border-box;
    pointer-events: none;
    text-align: center;
}

.copyright span{
    font-size: 13px;
    color: #bdbdbd;
    letter-spacing: -1px;
    pointer-events: all;
    margin-left: -10%;
}
